In [2]:
import pandas as pd

# Cardiovascular Gene Sets
Analysis and exploration of what is available in cardiovascular gene set. Gene set was obtained with permission from collaborator Corrin Mansfield of the Basu Lab.

In [5]:
genes = pd.read_excel('../../data/mansfield/Cardiovascular_Genes.xlsx',sheet_name='Sheet1')

print(len(genes['cardiovascular']))
print(len(set(genes['cardiovascular'])))
genes

34321
34321

      cardiovascular
0               Lrp1
1             Hectd1
2                Lox
3              Ndst1
4              Anks6
...              ...
34316          Xirp2
34317        Zcchc12
34318         Zfp167
34319         Zfp259
34320        Zmynd15

[34321 rows x 1 columns]

In [20]:
data = pd.read_excel('../../data/mansfield/Copy of Phenotypic analysis on 6 19 2018-rw.xlsx',sheet_name='case denov|inherited-Gene names')

len(data)

2871

In [11]:
data['Cardiac Category'].value_counts()

CTD            869
LVO            797
other          530
HTX            272
CTD (TGA)      250
other (AVC)    103
OTHER           32
Other           10
Other (AVC)      4
CTD              3
 CTD (TGA)       1
Name: Cardiac Category, dtype: int64

In [19]:
f = data[data['Cardiac Diagnoses'].str.contains('L-LOOP')]
f
f['Cardiac Diagnoses'][25]

'DOUBLE OUTLET LEFT VENTRICLE | L-LOOP TRANSPOSITION OF THE GREAT VESSELS | NON-CARDIAC ABNORMALITY | PATENT FORAMEN OVALE | PULMONARY STENOSIS | PULMONARY STENOSIS, BILATERAL BRANCH PULMONARY ARTERY | SINGLE VENTRICLE COMPRISED OF MOSTLY LEFT VENTRICLE | SUBAORTIC CONUS | TRICUSPID ATRESIA '

### Separate diagnoses terms

In [30]:
full_term_list = list()

for i in data['Cardiac Diagnoses']:
    term_lists = i.split('| ')
    for j in term_lists:
        full_term_list.append(j)

# String standardization to cut out weird spacing errors


len(full_term_list)
    
one_column_df = pd.DataFrame()
one_column_df = one_column_df.assign(terms=full_term_list)    

one_column_df['terms'].value_counts()

ATRIAL SEPTAL DEFECT, SECUNDUM                                       585
LEFT AORTIC ARCH WITH NORMAL BRANCHING PATTERN                       459
TETRALOGY OF FALLOT                                                  299
PULMONARY STENOSIS, VALVAR                                           289
HYPOPLASTIC LEFT VENTRICLE (SUBNORMAL CAVITY VOLUME)                 234
                                                                    ...
ANEURYSM, LEFT VENTRICLE                                               1
ANEURYSM OF MEMBRANOUS SEPTUM                                          1
SXD                                                                    1
AORTIC VALVE POSITION RELATIVE TO THE PULMONARY VALVE, POSTERIOR       1
HETEROTAXY                                                             1
Name: terms, Length: 582, dtype: int64

In [31]:
one_column_df[one_column_df['terms'].str.contains('HETEROTAXY')]

                                          terms
91                                  HETEROTAXY
110                                 HETEROTAXY
136     ABDOMINAL HETEROTAXY (SITUS AMBIGUOUS)
139                                 HETEROTAXY
151    SINGLE VENTRICLE IN HETEROTAXY SYNDROME
...                                         ...
11513                               HETEROTAXY
11515                               HETEROTAXY
11517                               HETEROTAXY
11520                                HETEROTAXY
11521                               HETEROTAXY

[173 rows x 1 columns]